/* CSS declarations go here */
.thumbnail:hover{
  background-color: #FFE57F;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
  border-color: #FFB300;
}

.thumbnail{
  background-color: rgba(255, 245, 218, 1.0);
  border-radius: 30px;
}

.col-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  padding: 16px;
}

button, input[type=submit] {
  padding: 7px 20px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.5s;
  border-radius: 20px;
  border-color: #C62828;
  border-style: solid;
  background-color: #FF8A80;
  color: #C62828;
  font-weight: bold;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
  background-color: #D50000;
  color: white;
}

button:hover .login-link-text{
  color: white;
  transition-duration: 0.5s;
}

button .login-link-text{
  color: #C62828;
}

.logo {
  font-family: Georgia, "Times New Roman";
  font-style: italic;
  color: #6A1B9A;
  display: block;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 70px;
  height: auto;
}

#imageGallery {
	width: auto;
  	height: 250px;
}
